* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 0.8;
}

/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */
.header{
    padding: 10px 0;
    background-color: #7e33e0;
}
.header-content-left ul li{
    display: inline-block;
    margin-right: 15px;
}
.header-left{
    gap: 20px;
}
.header-content-left ul li a{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header-content-left ul li i{
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
}
.header-content-right ul li{
    display: inline-block;
    margin-left: 15px;
}
.header-content-right ul li select{
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header-content-right ul li select option{
    border: none;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
.header-content-right ul li a{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header-content-right ul li i{
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
}



/* =========================================================== */
/*======================== Navber part ========================*/
/* =========================================================== */
.navbar{
    background-color: #fff;
}
.navbar-brand{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 0;
    margin-right: 50px;
}
.nav-item .nav-link{
    font-family: 'Lato', sans-serif;
    color: #0D0E43;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    transition: all linear .3s;
}
.active{
	color: #FB2E86 !important;
}
.nav-item .nav-link:hover{
    color: #FB2E86 !important;
}
.form-control{
    border-radius: 0;
    border-top: 2px solid #E7E6EF;
    border-left: 2px solid #E7E6EF;
    border-bottom: 2px solid #E7E6EF;
    border-right: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.form-control:focus {
	color: #212529;
	border-color: #E7E6EF;
	box-shadow: none;
}
.btn-ser{
    background-color: #FB2E86;
    border-radius: 0;
    color: #fff;
    border: none;
    padding: 8px 12px;
}



/* =========================================================== */
/*======================== Banber part ========================*/
/* =========================================================== */
.banner{
    background-color: #F2F0FF;
    height: 505px;
}
.banner-overlay{
    position: relative;
}
.banner-overlay-img{
    position: absolute;
    width: 12%;
    height: 100%;
    top: 0;
    left: -150px;
}
.banner-overlay-img img{
    width: 200px;
}
.banner-text-slider{
    height: 505px;
}
.banner-text h5{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FB2E86;
    text-transform: capitalize;
    padding-left: 4px;
    padding-bottom: 19px;
}
.banner-text h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 53px;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    line-height: 58px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.banner-text p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #8a8fb9;
    line-height: 28px;
    padding-right: 160px;
    padding-left: 4px;
    padding-bottom: 22px;
}
.banner-text a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #FB2E86;
    text-transform: capitalize;
    padding: 16px 40px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.banner-img{
    padding-top: 50px;
    position: relative;
}

.banner-img-overlay{
    position: absolute;
    width: 20%;
    height: 100%;
    top: 50px;
    left: 290px;
}
.banner-img-overlay-img{
    width: 70px;
    position: relative;
}
.banner-img-overlay-img img{
    width: 100%;
}
.banner-img-overlay-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 0;
    text-align: center;
}
.banner-img-overlay-img-overlay h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 20px;
}



/* =========================================================== */
/*======================== featured part ========================*/
/* =========================================================== */
.featured{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-header h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #1A0B5B;
}
.featured-product-card{
    box-shadow: 0 0 6px #bebebe6c;
    margin: 0 15px;
    margin-bottom: 5px;
    padding-top: 50px;
}
.product-card-img{
    width: 100%;
    background-color: #F6F7FB;
    height: 230px;
    position: relative;
    transition: all linear .3s;
}
.product-card-img img{
    width: 60%;
    transition: all linear .3s;
}
.product-card-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all linear .3s;
}
.product-card-img-overlay-content{
    width: 100%;
    height: 100%;
}
.overlay-icons{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    padding: 15px;
}
.overlay-icons a{
    padding-right: 15px;
}
.overlay-icons a i{
    color: #0eaff1;
    width: 25px;
    height: 25px;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
.overlay-icons a i:hover{
    color: #00009D;
    background-color: #e6e6e6;
}
.overlay-button{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.overlay-button a{
    padding: 7px 15px;
    background-color: #08D15F;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.product-card-body{
    padding: 20px;
    text-align: center;
}
.product-card-body h3{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FB2E86;
    margin-bottom: 5px;
    transition: all linear .3s;
}
.colors{
    gap: 5px;
}
.colors span{
    display: inline-block;
}
.color1{
    width: 15px;
    height: 5px;
    background-color: #05E6B7;
    border-radius: 10px;
}
.color2{
    width: 15px;
    height: 5px;
    background-color: #F701A8;
    border-radius: 10px;
}
.color3{
    width: 15px;
    height: 5px;
    background-color: #00009D;
    border-radius: 10px;
    transition: all linear .3s;
}
.product-card-body{
    background-color: #fff;
    transition: all linear .3s;
}
.product-card-body h6{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1A0B5B;
    padding-top: 15px;
    transition: all linear .3s;
}
.product-card-body p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1A0B5B;
    padding-top: 10px;
    margin-bottom: 3px;
    transition: all linear .3s;
}
.featured-product-card:hover .product-card-img{
    background-color: #f7f7f7;
}
.featured-product-card:hover .product-card-img img{
    width: 50%;
}
.featured-product-card:hover .product-card-img-overlay{
    opacity: 1;
}
.featured-product-card:hover .product-card-body{
    background-color: #2F1AC4;
}
.featured-product-card:hover .product-card-body h3{
    color: #fff;
}
.featured-product-card:hover .product-card-body h6{
    color: #fff;
}
.featured-product-card:hover .product-card-body p{
    color: #fff;
}
.featured-product-card:hover .color3{
    background-color: #e6e6e6;
}



/* slick part */


.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots button{
    font-size: 0;
    background-color: rgba(247, 1, 169, 0.4);
    border: none;
    width: 10px;
    height: 3px;
    margin: 0 5px;
    border-radius: 3px;
    transition: all linear .3s;
}
.slick-active button{
    border: none;
    background-color: #FB2E86;
    width: 20px;
}


/* =========================================================== */
/*======================== Leatest product part ========================*/
/* =========================================================== */
.leatest-product{
    margin: 20px 0;
}
.leatest-product-buttons{
    margin-top: 15px;
    margin-bottom: 60px;
}
.leatest-product-buttons button{
    border: none;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1A0B5B;
    margin: 0 30px;
}
.leatest-product-card{
    margin-bottom: 25px;
}
.leatest-product-card-img{
    width: 100%;
    height: 280px;
    background-color: #F7F7F7;
    position: relative;
}
.leatest-product-card-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.leatest-product-card-img-overlay-icons{
    padding-bottom: 40px;
    padding-left: 25px;
}
.leatest-product-card-img-overlay-icons a{ 
    display: block;
    margin: 10px 0;
}
.sale{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
}
.leatest-product-card-img-overlay-icons a i{
    color: #2F1AC4;
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.leatest-product-card-img-overlay-icons a i:hover{ 
    background-color: #EEEFFB;
}
.leatest-product-card-img-extra{
    background-color: #fff !important;
}
.leatest-product-card-body{
    padding: 15px 0;
}
.leatest-product-card-body-left h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1A0B5B;
    padding-bottom: 8px;
    border-bottom: 2px solid #EEEFFB;
}
.leatest-product-card-body-right h6{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1A0B5B;
    padding-right: 10px;
}
.leatest-product-card-body-right p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FB2E86;
    text-decoration: line-through;
    padding-right: 10px;
}
.mixitup-control-active {
    color: #FB2E86 !important;
    border-bottom: 1px solid #FB2E86 !important;
}
.leatest-product-card:hover .leatest-product-card-img-overlay{
    opacity: 1;
}



/* =========================================================== */
/*======================== product banner ========================*/
/* =========================================================== */

#productbanner {
    background-color: #F6F5FF;
    height: 286px;
}
.pbnr-content {
    height: 286px;
}
.pbnr-content h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #101750;
}
.links a {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all linear .3s;
}
.links a:hover {
    color: #FB2E86;
}


/* =========================================================== */
/*======================== products ========================*/
/* =========================================================== */

#products {
    padding-top: 127px;
}
.product-head {
    padding-bottom: 127px;
}
.head-left h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize; 
}
.head-left p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
}
.filter-item {
    padding-right: 30px;
}
.filter-item p {
    font-family: 'Lato', sans-serif;
    color: #3F509E;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px 0 0;
    text-transform: capitalize;
}
#ppage {
    border: 2px solid #E7E6EF;
    height: 40px;
    width: 100px;
    padding: 8px;
}
.filter-item select {
    border: 2px solid #E7E6EF;
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 5px;
}
.filter-item select:focus {
    border: 2px solid #E7E6EF;
}
.view-icon i {
    color: #151875;
    font-size: 14px;
    padding: 11px 7px 0 0;
}
#pview {
    border: 2px solid #E7E6EF;
    height: 40px;
    padding: 8px;
    margin-left: 10px;
}


/*================================products=========================================*/

.product-main {
    padding-bottom: 80px;
}
.product-item {
    width: 360px;
}
.p-img {
    width: 360px;
    height: 375px;
    background-color: #F6F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-img img {
    width: 250px;
}
.p-content {
    padding-top: 25px;
    text-align: center;
}
.p-content h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 22px;
    font-weight: 700;
}
.color-dots {
    padding-top: 5px;
}
.color-dot1 {
    width: 15px;
    height: 15px;
    background-color: #DE9034;
    border-radius: 50%;
}
.color-dot2 {
    width: 15px;
    height: 15px;
    background-color: #EC42A2;
    border-radius: 50%;
    margin: 0 7px;
}
.color-dot3 {
    width: 15px;
    height: 15px;
    background-color: #8568FF;
    border-radius: 50%;
}
.price {
    padding-top: 15px;
}
.price p {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 18px;
    font-weight: 600;
}
.discount p {
    font-family: 'Josefin Sans', sans-serif;
    color: #FB2E86;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    position: relative;
}
.discount p::after {
    position: absolute;
    content: '';
    width: 55px;
    height: 2px;
    background-color: #FB2E86;
    top: 6px;
    left: 10px;
}

/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */