* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 0.8;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-25{
    padding-bottom: 23px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-40{
    padding-top: 40px;
}

/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */
.header{
    padding: 10px 0;
    background-color: #7e33e0;
}
.header-content-left ul li{
    display: inline-block;
    margin-right: 15px;
}
.header-left{
    gap: 20px;
}
.header-content-left ul li a{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header-content-left ul li i{
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
}
.header-content-right ul li{
    display: inline-block;
    margin-left: 15px;
}
.header-content-right ul li select{
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header-content-right ul li select option{
    border: none;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
.header-content-right ul li a{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header-content-right ul li i{
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
}



/* =========================================================== */
/*======================== Navber part ========================*/
/* =========================================================== */
.navbar{
    background-color: #fff;
}
.navbar-brand{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 0;
    margin-right: 50px;
}
.nav-item .nav-link{
    font-family: 'Lato', sans-serif;
    color: #0D0E43;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    transition: all linear .3s;
}
.active{
	color: #FB2E86 !important;
}
.nav-item .nav-link:hover{
    color: #FB2E86 !important;
}
.form-control{
    border-radius: 0;
    border-top: 2px solid #E7E6EF;
    border-left: 2px solid #E7E6EF;
    border-bottom: 2px solid #E7E6EF;
    border-right: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.form-control:focus {
	color: #212529;
	border-color: #E7E6EF;
	box-shadow: none;
}
.btn-ser{
    background-color: #FB2E86;
    border-radius: 0;
    color: #fff;
    border: none;
    padding: 8px 12px;
}



/* =========================================================== */
/*======================== Banber part ========================*/
/* =========================================================== */
.banner{
    background-color: #F2F0FF;
    height: 505px;
}
.banner-overlay{
    position: relative;
}
.banner-overlay-img{
    position: absolute;
    width: 12%;
    height: 100%;
    top: 0;
    left: -150px;
}
.banner-overlay-img img{
    width: 200px;
}
.banner-text-slider{
    height: 505px;
}
.banner-text h5{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FB2E86;
    text-transform: capitalize;
    padding-left: 4px;
    padding-bottom: 19px;
}
.banner-text h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 53px;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    line-height: 58px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.banner-text p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #8a8fb9;
    line-height: 28px;
    padding-right: 160px;
    padding-left: 4px;
    padding-bottom: 22px;
}
.banner-text a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #FB2E86;
    text-transform: capitalize;
    padding: 16px 40px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.banner-img{
    padding-top: 50px;
    position: relative;
}

.banner-img-overlay{
    position: absolute;
    width: 20%;
    height: 100%;
    top: 50px;
    left: 290px;
}
.banner-img-overlay-img{
    width: 70px;
    position: relative;
}
.banner-img-overlay-img img{
    width: 100%;
}
.banner-img-overlay-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 0;
    text-align: center;
}
.banner-img-overlay-img-overlay h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 20px;
}



/* =========================================================== */
/*======================== featured part ========================*/
/* =========================================================== */
.featured{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-header h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #1A0B5B;
}
.featured-product-card{
    box-shadow: 0 0 6px #bebebe6c;
    margin: 0 15px;
    margin-bottom: 5px;
    margin-top: 30px;
}
.product-card-img{
    width: 100%;
    background-color: #F6F7FB;
    height: 230px;
    position: relative;
    transition: all linear .3s;
}
.product-card-img img{
    width: 60%;
    transition: all linear .3s;
}
.product-card-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all linear .3s;
}
.product-card-img-overlay-content{
    width: 100%;
    height: 100%;
}
.overlay-icons{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    padding: 15px;
}
.overlay-icons a{
    padding-right: 15px;
}
.overlay-icons a i{
    color: #0eaff1;
    width: 25px;
    height: 25px;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
.overlay-icons a i:hover{
    color: #00009D;
    background-color: #e6e6e6;
}
.overlay-button{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.overlay-button a{
    padding: 7px 15px;
    background-color: #08D15F;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.product-card-body{
    padding: 20px;
    text-align: center;
}
.product-card-body h3{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FB2E86;
    margin-bottom: 5px;
    transition: all linear .3s;
}
.colors{
    gap: 5px;
}
.colors span{
    display: inline-block;
}
.color1{
    width: 15px;
    height: 5px;
    background-color: #05E6B7;
    border-radius: 10px;
}
.color2{
    width: 15px;
    height: 5px;
    background-color: #F701A8;
    border-radius: 10px;
}
.color3{
    width: 15px;
    height: 5px;
    background-color: #00009D;
    border-radius: 10px;
    transition: all linear .3s;
}
.product-card-body{
    background-color: #fff;
    transition: all linear .3s;
}
.product-card-body h6{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1A0B5B;
    padding-top: 15px;
    transition: all linear .3s;
}
.product-card-body p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1A0B5B;
    padding-top: 10px;
    margin-bottom: 3px;
    transition: all linear .3s;
}
.featured-product-card:hover .product-card-img{
    background-color: #f7f7f7;
}
.featured-product-card:hover .product-card-img img{
    width: 50%;
}
.featured-product-card:hover .product-card-img-overlay{
    opacity: 1;
}
.featured-product-card:hover .product-card-body{
    background-color: #2F1AC4;
}
.featured-product-card:hover .product-card-body h3{
    color: #fff;
}
.featured-product-card:hover .product-card-body h6{
    color: #fff;
}
.featured-product-card:hover .product-card-body p{
    color: #fff;
}
.featured-product-card:hover .color3{
    background-color: #e6e6e6;
}



/* slick part */


.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots button{
    font-size: 0;
    background-color: rgba(247, 1, 169, 0.4);
    border: none;
    width: 10px;
    height: 3px;
    margin: 0 5px;
    border-radius: 3px;
    transition: all linear .3s;
}
.slick-active button{
    border: none;
    background-color: #FB2E86;
    width: 20px;
}


/* =========================================================== */
/*======================== Leatest product part ========================*/
/* =========================================================== */
.leatest-product{
    margin: 20px 0;
}
.leatest-product-buttons{
    margin-top: 15px;
    margin-bottom: 60px;
}
.leatest-product-buttons button{
    border: none;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1A0B5B;
    margin: 0 30px;
}
.leatest-product-card{
    margin-bottom: 25px;
}
.leatest-product-card-img{
    width: 100%;
    height: 280px;
    background-color: #F7F7F7;
    position: relative;
}
.leatest-product-card-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.leatest-product-card-img-overlay-icons{
    padding-bottom: 40px;
    padding-left: 25px;
}
.leatest-product-card-img-overlay-icons a{ 
    display: block;
    margin: 10px 0;
}
.sale{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
}
.leatest-product-card-img-overlay-icons a i{
    color: #2F1AC4;
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.leatest-product-card-img-overlay-icons a i:hover{ 
    background-color: #EEEFFB;
}
.leatest-product-card-img-extra{
    background-color: #fff !important;
}
.leatest-product-card-body{
    padding: 15px 0;
}
.leatest-product-card-body-left h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1A0B5B;
    padding-bottom: 8px;
    border-bottom: 2px solid #EEEFFB;
}
.leatest-product-card-body-right h6{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1A0B5B;
    padding-right: 10px;
}
.leatest-product-card-body-right p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FB2E86;
    text-decoration: line-through;
    padding-right: 10px;
}
.leatest-product-buttons .mixitup-control-active {
    color: #FB2E86 !important;
    border-bottom: 1px solid #FB2E86 !important;
}

.leatest-product-card:hover .leatest-product-card-img-overlay{
    opacity: 1;
}



/* =========================================================== */
/*======================== Shopex part ========================*/
/* =========================================================== */
.shopex{
    margin-bottom: 50px;
}
.shopex-card{
    width: 100%;
    height: 320px;
    padding: 43px 30px;
    box-shadow: 0 0 6px #bebebe6c;
    margin-top: 60px;
}
.shopex-card h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #151875;
    padding-top: 40px;
    padding-bottom: 25px;
}
.shopex-card p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(26, 11, 91, 0.3);
}


/* =========================================================== */
/*======================== Unique product part ========================*/
/* =========================================================== */
.unique{
    background-color: #F1F0FF;
    margin-bottom: 50px;
    padding: 20px 0;
}
.unique-product-img img{
    width: 80%;
}
.section-header-linehight h2{
    line-height: 50px;
    padding-bottom: 20px;
}
.unique-product-text p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ACABC3;
    line-height: 28px;
    padding-right: 45px;
}
.pink-dot{
    background-color: #F52B70;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 9px;
}
.blue-dot{
    background-color: #2B2BF5;
    width: 12px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 9px;
}
.green-dot{
    background-color: #2BF5CC;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 9px;
}
.unique-product-button{
    padding-top: 20px;
}
.unique-product-button a{
    padding: 14px 35px;
    background-color: #FB2E86;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
}
.unique-product-button-text{
    margin-left: 20px;
}
.unique-product-button-text h6{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #151875;
    padding-top: 5px;
}
.unique-product-button-text p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #151875;
    line-height: 0px;
    padding-top: 10px;
}


/* =========================================================== */
/*======================== trending product part ========================*/
/* =========================================================== */
.trending-product{
    margin-top: 80px;
    margin-bottom: 60px;
}
.trending-product-card{
    border: 10px solid #fff;
    box-shadow: 0 0 6px #bfbfbf94;
}
.trending-product-card-img{
    width: 100%;
    height: 245px;
    background-color: #F5F6F8;
    position: relative;
}
.trending-product-card-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.trending-product-card-body{
    padding-top: 20px;
}
.trending-product-card-body h6{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #151875;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.trending-product-price{
    gap: 10px;
}
.trending-product-price h6{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #151875;
    padding-bottom: 0;
}
.trending-product-price p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(21, 24, 117, 0.3);
    text-decoration: line-through;
    padding-top: 1px;
}
.trending-product-card-img-overlay-icons{
    padding-bottom: 20px;
    padding-left: 15px;
}
.trending-product-card-img-overlay-icons a{ 
    display: block;
    margin: 10px 0;
}

.trending-product-card-img-overlay-icons a i{
    color: #2F1AC4;
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.trending-product-card-img-overlay-icons a i:hover{ 
    background-color: #EEEFFB;
}
.trending-product-card:hover .trending-product-card-img-overlay{
    opacity: 1;
}
.trending-product-discount{
    width: 100%;
    height: 270px;
    background-color: #FFF6FB;
    padding-top: 30px;
    padding-left: 25px;
    box-shadow: 0 0 5px #FFF6FB;
    transition: all linear .3s;
}
.trending-product-discount-text h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #151875;
}
.trending-product-discount-text a{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FA3BE5;
    text-transform: capitalize;
    padding-bottom: 3px;
    border-bottom: 1px solid #FA3BE5;
}
.trending-product-discount-img img{
    width: 80%;
}
.extra-width{
    width: 58% !important;
}
.trending-small-img{
    width: 100%;
    height: 75px;
    background-color: #F5F6F8;
}
.trending-small-text h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #151875;
}
.trending-small-text p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #151875;
    text-decoration: line-through;
    margin-bottom: 0;
}
.trending-product-discount:hover{
    background-color: #EEEFFB;
}

/* =========================================================== */
/*======================== discount-item part ========================*/
/* =========================================================== */
.discount-item{
    margin: 30px 0;
}
.discount-item-buttons{
    margin-top: 20px;
}
.discount-item-buttons button{
    border: none;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #151875;
    margin: 0 10px;
}
.discount-item-text h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #151875;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.discount-item-text h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #FB2E86;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-bottom: 25px;
}
.discount-item-text p{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #B7BACB;
    letter-spacing: 1px;
    line-height: 30px;
}
.discount-item-text p i{
    color: #7569B2;
    font-weight: 300;
    margin-right: 5px;
}
.discount-item-text-check{
    margin-bottom: 20px;
}
.discount-item-text a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #FB2E86;
    text-transform: capitalize;
    padding: 16px 40px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.discount-item-buttons .mixitup-control-active {
    color: #FB2E86 !important;
    border-bottom: 1px solid #FB2E86 !important;
}


/* =========================================================== */
/*======================== top-categories part ========================*/
/* =========================================================== */
.top-categories{
    margin: 30px 0;
}
.top-categories-card{
    margin: 0 15px;
}
.top-categories-card-img{
    width: 260px;
    height: 260px;
    background-color: #F6F7FB;
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.top-categories-card-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #9877E7;
    box-shadow: -1px 5px 10px #D7CFEC;
    top: 5px;
    left: -5px;
    z-index: -9999;
    transition: all ease-in-out .3s;
    opacity: 0;
}
.top-categories-card-img-overlay-button{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all linear .3s;
    opacity: 0;
}
.top-categories-card-img-overlay-button a{
    padding: 7px 15px;
    background-color: #08D15F;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 25px;
    transition: all linear .3s;
}
.top-categories-card-body{
    padding-top: 35px;
}
.top-categories-card-body h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #151875;
    text-transform: capitalize;
    padding-bottom: 7px;
}
.top-categories-card-body p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #151875;
}
.top-categories-card:hover .top-categories-card-img-overlay{
    opacity: 1;
}
.top-categories-card:hover .top-categories-card-img-overlay-button{
    opacity: 1;
}
/*======================== Product part (sifat) ========================*/
/* =========================================================== */
/* =========================================================== */
/*======================== product banner ========================*/
/* =========================================================== */

#productbanner {
    background-color: #F6F5FF;
    height: 286px;
}
.pbnr-content {
    height: 286px;
}
.pbnr-content h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #101750;
}
.links a {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all linear .3s;
}
.links span {
    color: #FB2E86;
}


/* =========================================================== */
/*======================== products ========================*/
/* =========================================================== */

#products {
    padding-top: 127px;
    padding-bottom: 100px;
}
.product-head {
    padding-bottom: 127px;
}
.head-left h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize; 
}
.head-left p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
}
.filter-item {
    padding-right: 23px;
}
.filter-item p {
    font-family: 'Lato', sans-serif;
    color: #3F509E;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px 0 0;
    text-transform: capitalize;
}
#ppage {
    border: 2px solid #E7E6EF;
    height: 40px;
    width: 100px;
    padding: 8px;
}
.filter-item select {
    border: 2px solid #E7E6EF;
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 5px;
}
.filter-item select:focus {
    border: 2px solid #E7E6EF;
}
.view-icon i {
    color: #151875;
    font-size: 14px;
    padding: 11px 7px 0 0;
}
#pview {
    border: 2px solid #E7E6EF;
    height: 40px;
    padding: 8px;
    margin-left: 10px;
}


/*================================products=========================================*/

.product-main {
    padding-bottom: 80px;
}
.product-item {
    transition: all linear .3s;
}
.p-img {
    width: 100%;
    height: 375px;
    background-color: #F6F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.p-img img {
    width: 200px;
}
.p-icons {
    position: absolute;
    bottom: 15px;
    left: 20px;
    opacity: 0;
}
.p-icons a {
    color: #151875;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    transition: all linear .3s;
    display: block;
    margin-bottom: 8px;
}
.p-icons a:hover {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-item:hover .p-icons {
    opacity: 1;
}

.p-content {
    padding-top: 25px;
    text-align: center;
}
.p-content h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 22px;
    font-weight: 700;
}
.color-dots {
    padding-top: 5px;
}
.color-dot1 {
    width: 15px;
    height: 15px;
    background-color: #DE9034;
    border-radius: 50%;
}
.color-dot2 {
    width: 15px;
    height: 15px;
    background-color: #EC42A2;
    border-radius: 50%;
    margin: 0 7px;
}
.color-dot3 {
    width: 15px;
    height: 15px;
    background-color: #8568FF;
    border-radius: 50%;
}
.price {
    padding-top: 15px;
}
.price p {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 18px;
    font-weight: 600;
}
.discount p {
    font-family: 'Josefin Sans', sans-serif;
    color: #FB2E86;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    position: relative;
}
.discount p::after {
    position: absolute;
    content: '';
    width: 55px;
    height: 2px;
    background-color: #FB2E86;
    top: 6px;
    left: 10px;
}


/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */

footer {
    background-color: #EEEFFB;
    padding: 100px 0;
}
.sign-up {
    padding-top: 40px;
    position: relative;
}
.sign-up input[type=text] {
    width: 400px;
    padding: 16px;
    margin: 8px 0;
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
}
.sign-up label {
    position: absolute;
    background-color: #F701A8;
    padding: 10px 40px;
    border-radius: 5px;
    top: 52px;
    right: 130px;
    cursor: pointer;
    transition: all linear .3s;
}
.sign-up label a {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.sign-up label:hover {
    background-color: rgb(220, 17, 139);
}
.contact {
    padding-top: 20px;
}
.contact h4 {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
.contact p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
input:focus-visible {
    outline-offset: 0;
    border: none;
}


.categories h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.category-links {
    padding-top: 30px;
}
.category-links ul li {
    padding-top: 15px;
}
.category-links ul li a {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 16px;
    font-weight: 400;
}




/* =========================================================== */
/*======================== copyright ========================*/
/* =========================================================== */


#copyright {
    padding: 30px 0;
    background-color: #E7E4F8;
}
.copyright p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 18px;
    font-weight: 600;
    padding-top: 6px;
}
.socials{
    gap: 10px;
}
.social-links{
    width: 27px;
    height: 27px;
    background-color: #1A0B5B;
    border-radius: 50%;
    transition: all linear .3s;
}
.social-links a {
    color: #fff;
    font-size: 14px;
}
.social-links:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */

.product-list {
    width: 100%;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.103) 0px 7px 29px 0px;
    margin-bottom: 70px;
}
.list-right {
    padding-left: 30px;
}
.right-head {
    padding-top: 30px;
}
.right-head-content h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 5px;
}
.right-head-content .price {
    padding-top: 10px;
}
.p-rating {
    gap: 3px;
    padding-left: 20px;
}
.p-rating i {
    font-size: 14px;
    color: #FFC416;
}
.right-head .color-dots {
    padding-left: 20px;
}
.list-right span {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 16px;
    font-weight: 400;
}
.list-right .p-icons {
    opacity: 1;
}
.list-icons{
    padding-top: 20px;
    gap: 15px;
}
.list-links{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: all linear .3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.list-links a {
    color: #151875;
    font-size: 16px;
}



/* =========================================================== */
/*======================== Sifat part ========================*/
/* =========================================================== */


/* =========================================================== */
/*======================== product banner ========================*/
/* =========================================================== */

#productbanner {
    background-color: #F6F5FF;
    height: 286px;
}
.pbnr-content {
    height: 286px;
}
.pbnr-content h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #101750;
    text-transform: capitalize;
}
.links a {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all linear .3s;
}
.links span {
    color: #FB2E86;
}


/* =========================================================== */
/*======================== products ========================*/
/* =========================================================== */

#products {
    padding-top: 127px;
    padding-bottom: 100px;
}
.product-head {
    padding-bottom: 127px;
}
.head-left h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize; 
}
.head-left p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
}
.filter-item {
    padding-right: 23px;
}
.filter-item p {
    font-family: 'Lato', sans-serif;
    color: #3F509E;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px 0 0;
    text-transform: capitalize;
}
#ppage {
    border: 2px solid #E7E6EF;
    height: 40px;
    width: 100px;
    padding: 8px;
}
.filter-item select {
    border: 2px solid #E7E6EF;
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 5px;
}
.filter-item select:focus {
    border: 2px solid #E7E6EF;
}
.view-icon i {
    color: #151875;
    font-size: 14px;
    padding: 11px 7px 0 0;
}
#pview {
    border: 2px solid #E7E6EF;
    height: 40px;
    padding: 8px;
    margin-left: 10px;
}


/*================================products=========================================*/

.product-main {
    padding-bottom: 80px;
}
.product-item {
    transition: all linear .3s;
}
.p-img {
    width: 100%;
    height: 375px;
    background-color: #F6F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.p-img img {
    width: 200px;
}
.p-icons {
    position: absolute;
    bottom: 15px;
    left: 20px;
    opacity: 0;
}
.p-icons a {
    color: #151875;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    transition: all linear .3s;
    display: block;
    margin-bottom: 8px;
}
.p-icons a:hover {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-item:hover .p-icons {
    opacity: 1;
}

.p-content {
    padding-top: 25px;
    text-align: center;
}
.p-content h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 22px;
    font-weight: 700;
}
.color-dots {
    padding-top: 5px;
}
.color-dot1 {
    width: 12px;
    height: 12px;
    background-color: #DE9034;
    border-radius: 50%;
}
.color-dot2 {
    width: 12px;
    height: 12px;
    background-color: #EC42A2;
    border-radius: 50%;
    margin: 0 7px;
}
.color-dot3 {
    width: 12px;
    height: 12px;
    background-color: #8568FF;
    border-radius: 50%;
}
.price {
    padding-top: 15px;
}
.price p {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 18px;
    font-weight: 600;
}
.discount p {
    font-family: 'Josefin Sans', sans-serif;
    color: #FB2E86;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    position: relative;
}
.discount p::after {
    position: absolute;
    content: '';
    width: 55px;
    height: 2px;
    background-color: #FB2E86;
    top: 6px;
    left: 10px;
}


/* =========================================================== */
/*======================== footer ========================*/
/* =========================================================== */

footer {
    background-color: #EEEFFB;
    padding: 100px 0;
}
.sign-up {
    padding-top: 40px;
    position: relative;
}
.sign-up input[type=text] {
    width: 400px;
    padding: 16px;
    margin: 8px 0;
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
}
.sign-up label {
    position: absolute;
    background-color: #F701A8;
    padding: 10px 40px;
    border-radius: 5px;
    top: 52px;
    right: 130px;
    cursor: pointer;
    transition: all linear .3s;
}
.sign-up label a {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.sign-up label:hover {
    background-color: rgb(220, 17, 139);
}
.contact {
    padding-top: 20px;
}
.contact h4 {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
.contact p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
input:focus-visible {
    outline-offset: 0;
    border: none;
}


.categories h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.category-links {
    padding-top: 30px;
}
.category-links ul li {
    padding-top: 15px;
}
.category-links ul li a {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 16px;
    font-weight: 400;
}




/* =========================================================== */
/*======================== copyright ========================*/
/* =========================================================== */


#copyright {
    padding: 30px 0;
    background-color: #E7E4F8;
}
.copyright p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 18px;
    font-weight: 600;
    padding-top: 6px;
}
.socials{
    gap: 10px;
}
.social-links{
    width: 24px;
    height: 24px;
    background-color: #1A0B5B;
    border-radius: 50%;
    transition: all linear .3s;
    cursor: pointer;
}
.social-links a {
    color: #fff;
    font-size: 12px;
}
.social-links:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.social-links:hover{
    background-color: #F701A8;
}

/* =========================================================== */
/*======================== product-List ========================*/
/* =========================================================== */

.product-list {
    width: 100%;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.103) 0px 7px 29px 0px;
    margin-bottom: 70px;
}
.list-right {
    padding-left: 30px;
}
.right-head {
    padding-top: 30px;
}
.right-head-content h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #151875;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 5px;
}
.right-head-content .price {
    padding-top: 10px;
}
.p-rating {
    gap: 3px;
    padding-left: 20px;
}
.p-rating i {
    font-size: 14px;
    color: #FFC416;
}
.right-head .color-dots {
    padding-left: 20px;
}
.list-right span {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 16px;
    font-weight: 400;
}
.list-right .p-icons {
    opacity: 1;
}
.list-icons{
    padding-top: 20px;
    gap: 15px;
}
.list-links{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: all linear .3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.list-links a {
    color: #151875;
    font-size: 16px;
}



/* =========================================================== */
/*======================== order complete ========================*/
/* =========================================================== */


#order-complete {
    padding: 140px 0;
}
.ordercomplete {
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 90px;
    border-left: 2px dashed #D2D1D1;
    border-bottom: 2px dashed #D2D1D1;
    position: relative;
}
.clock {
    position: absolute;
    top: -20px;
    left: -46px;
}
.clock img {
    width: 90px;
}
.checklist {
    position: absolute;
    bottom: -30px;
    right: -40px;
}
.checklist img {
    width: 70px;
}

.completeicon {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 auto;
}
.completeicon img {
    width: 35px;
}
.ordercomplete h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #101750;
    padding-top: 35px;
}
.ordercomplete p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 16px;
    line-height: 22px;
    padding: 25px 85px 0 85px;
    font-weight: 400;
}
.complete-btn {
    padding-top: 20px;
}
.complete-btn .btn {
    background-color: #FF1788;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
}
.complete-btn a {
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}


/* =========================================================== */
/*======================== shipping ========================*/
/* =========================================================== */

#shipping {
    padding-top: 80px;
    padding-bottom: 150px;
}
.shiphead {
    padding-bottom: 30px;
}
.product-shipping {
    background-color: #F8F8FD;
    padding: 60px 40px;
    border-radius: 8px;
}
.infohead h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1D3178;
}
.login p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 18px;
    font-weight: 400;
}
.login a {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
}
.fullinput input {
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    background-color: #F8F8FD;
    border: none;
    border-bottom: 2px solid #BFC6E0;
}
.fullinput input::placeholder {
    font-family: 'Lato', sans-serif;
    color: #b4bde0;
    font-size: 16px;
    font-weight: 400;
}
.halfinput input {
    width: 47%;
    padding: 10px 0;
    margin-top: 30px;
    background-color: #F8F8FD;
    border: none;
    border-bottom: 2px solid #BFC6E0;
}
.halfinput input::placeholder {
    font-family: 'Lato', sans-serif;
    color: #b4bde0;
    font-size: 16px;
    font-weight: 400;
}
.uptodate {
    padding-top: 25px;
}
.uptodate i {
    color: #19D16F;
    font-size: 14px;
    padding-right: 5px;
}
.uptodate p {
    font-family: 'Lato', sans-serif;
    color: #8A91AB;
    font-size: 14px;
    font-weight: 400;
}
.shipping-address {
    padding-top: 70px;
}
.shipping-address .complete-btn {
    margin-top: 60px;
}




.suggestion {
    padding-top: 90px;
}
.suggest-item {
    margin-bottom: 35px;
    position: relative;
}
.suggest-item::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #8A8FB9;
    bottom: -15px;
    left: 0;
}
.suggest-details {
    padding-top: 15px;
    padding-left: 15px;
}
.suggest-details h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1D3178;
}
.suggest-details h5 {
    font-family: 'Lato', sans-serif;
    color: #8A91AB;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.suggest-details p {
    font-family: 'Lato', sans-serif;
    color: #8A91AB;
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
    text-transform: capitalize;
}
.suggest-price p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #1D3178;
}



.checkout {
    margin-top: 50px;
    background-color: #F8F8FD;
    padding: 45px 25px;
    border-radius: 8px;
}
.totals {
    position: relative;
    margin-bottom: 50px;
}
.totals::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #BFC6E0;
    top: 35px;
    left: 0;
}
.totals h4 {
    font-family: 'Lato', sans-serif;
    color: #1D3178;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.totals p {
    font-family: 'Lato', sans-serif;
    color: #1D3178;
    font-size: 18px;
    font-weight: 400;
}
.checkout-item .uptodate {
    padding-top: 0;
}
.checkout-btn .btn {
    width: 100%;
    background-color: #19D16F;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
}
.checkout-btn a {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}


/* =========================================================== */
/*======================== product details ========================*/
/* =========================================================== */


#product-details {
    padding-top: 120px;
}
.product-details {
    width: 100%;
    padding: 15px 3px;
    box-shadow: rgba(100, 100, 111, 0.103) 0px 7px 29px 0px;
    margin-bottom: 100px;
}
.small-img {
    padding-right: 15px;
}
.detail-item {
    padding-bottom: 15px;
}
.detail-item:last-child {
    padding-bottom: 0;
}
.large-img-item img {
    height: 100%;
}
.product-details-right {
    padding-top: 40px;
    padding-left: 30px;
}
.right-content h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #1D3178;
    text-transform: capitalize;
}
.right-content .p-rating {
    padding-top: 10px;
    padding-left: 0;
}
.p-rating h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #1D3178;
    padding: 2px 5px;
}
.right-content h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1D3178;
    padding-top: 20px;
}
.right-content span {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #8A8FB9;
    padding-top: 10px;
}
.add-to-cart .btn {
    width: 160px;
    background-color: #F701A8;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
}
.add-to-cart a {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.add-to-cart i {
    color: #fff;
    font-size: 14px;
    padding-left: 5px;
}
.detail-descp {
    padding-top: 30px;
}
.detail-descp p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1D3178;
    padding-top: 10px;
    text-transform: capitalize;
}
.share .socials {
    padding-top: 5px;
    padding-left: 10px;
}


/* =========================================================== */
/*======================== Text description ========================*/
/* =========================================================== */

#product-textcontent {
    padding: 100px 0;
    background-color: #EEEFFB;
}
#brand-logo {
    padding: 100px 0;
}
.product-info-links ul li {
    margin-right: 60px;
    position: relative;
}
.product-info-links ul li::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: #1D3178;
    top: 30px;
    left: 0;
    transition: all linear .3s;
}
.product-info-links ul li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #1D3178;
    padding-top: 10px;
    text-transform: capitalize;
}
.product-info-links ul li:hover::after {
    width: 100%;
}
.info-content {
    padding-top: 50px;
}
.info-content h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1D3178;
    padding-top: 15px;
    text-transform: capitalize;
}
.info-content p {
    font-family: 'Lato', sans-serif;
    color: #8A8FB9;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.detail-info {
    padding-top: 20px;
}


/* =========================================================== */
/*======================== related products ========================*/
/* =========================================================== */



#Related-Products {
    padding-top: 100px;
}
.Related-Products h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #1D3178;
    text-transform: capitalize;
}
.related-item {
    padding-top: 50px;
}
.related-item-text {
    width: 268px;
    padding-top: 25px;
}
.related-item-text h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1D3178;
    text-transform: capitalize;
}
.related-item p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1D3178;
    padding-top: 10px;
}
.related-item-text .p-rating {
    padding-left: 30px;
    font-size: 10px;
}


/* =========================================================== */
/*======================== shopping cart ========================*/
/* =========================================================== */


#shopping-cart {
    padding: 100px 0;
}
.table-head h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1D3178;
    text-transform: capitalize;
}
.selected-pq p {
    font-family: 'Josefin Sans', sans-serif;
    color: #1D3178;
    font-size: 18px;
    font-weight: 600;
    margin-top: 9px;
}
.product-pq {
    width: 420px;
}
.selected-pq {
    width: 420px;
}
.selected-product {
    padding-top: 50px;
}
.selected-item {
    margin-bottom: 35px;
    position: relative;
}
.selected-item::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1.5px;
    background-color: #D2D1D1;
    bottom: -10px;
    left: 0;
}
.cross-icon {
    width: 20px;
    height: 20px;
    line-height: 15px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
}
.cross-icon i {
    font-size: 12px;
    color: #fff;
}
.ordered-item {
    position: relative;
}
.cross-icon {
    position: absolute;
    top: -10px;
    right: -10px;
}
.cart-btn {
    width: 100%;
}



.quantity {
    display: inline-block; }

    .quantity .input-text.qty {
        width: 30px;
        height: 30px;
        padding: 0 5px;
        font-size: 14px;
        text-align: center;
        background-color: transparent;
        border: 1px solid #dcdcdc;
    }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus, .quantity.buttons_added .plus {
    padding: 0px 10px 0px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}
   
   .quantity.buttons_added .minus {
    border-right: 0; }
   
   .quantity.buttons_added .plus {
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }

.cart-right {
    margin-left: 40px;
}
.calculate {
    background-color: #F8F8FD;
    padding: 0 25px 30px 25px;
    border-radius: 8px;
    margin-top: 30px;
}
.cart-right .checkout {
    margin-bottom: 40px;
}

/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */