* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 0.8;
}

/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */
.header{
    padding: 10px 0;
    background-color: #7e33e0;
}
.header-content-left ul li{
    display: inline-block;
    margin-right: 15px;
}
.header-left{
    gap: 20px;
}
.header-content-left ul li a{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header-content-left ul li i{
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
}
.header-content-right ul li{
    display: inline-block;
    margin-left: 15px;
}
.header-content-right ul li select{
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header-content-right ul li select option{
    border: none;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
.header-content-right ul li a{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.header-content-right ul li i{
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
}



/* =========================================================== */
/*======================== Navber part ========================*/
/* =========================================================== */
.navbar-brand{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 0;
    margin-right: 50px;
}
.nav-item .nav-link{
    font-family: 'Lato', sans-serif;
    color: #0D0E43;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    transition: all linear .3s;
}
.navbar-nav .nav-link.active{
	color: #FB2E86;
}
.nav-item .nav-link:hover{
    color: #FB2E86;
}
.form-control{
    border-radius: 0;
    border-top: 2px solid #E7E6EF;
    border-left: 2px solid #E7E6EF;
    border-bottom: 2px solid #E7E6EF;
    border-right: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.form-control:focus {
	color: #212529;
	border-color: #E7E6EF;
	box-shadow: none;
}
.btn-ser{
    background-color: #FB2E86;
    border-radius: 0;
    color: #fff;
    border: none;
    padding: 8px 12px;
}



/* =========================================================== */
/*======================== Banber part ========================*/
/* =========================================================== */
.banner{
    background-color: #F2F0FF;
    height: 505px;
}
.banner-text-slider{
    height: 505px;
}
.banner-text h5{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FB2E86;
    text-transform: capitalize;
    padding-left: 4px;
    padding-bottom: 19px;
}
.banner-text h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 53px;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    line-height: 58px;
    padding-right: 80px;
    padding-bottom: 10px;
}
.banner-text p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #8a8fb9;
    line-height: 28px;
    padding-right: 160px;
    padding-left: 4px;
    padding-bottom: 22px;
}
.banner-text a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #FB2E86;
    text-transform: capitalize;
    padding: 16px 40px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.banner-img{
    padding-top: 50px;
    position: relative;
}

.banner-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */



/* =========================================================== */
/*======================== header part ========================*/
/* =========================================================== */